@charset "utf-8";

body {
  background-image: url("../../images/og/background.png");
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img#android {
  margin-top: 320px;
  margin-left: 170px;
  margin-right: 150px;
  height: 50px;
  border-radius: 40px;
  background-color: #ccc;
  box-shadow: 2px 2px 2px #0009;
}

img#ios {
  height: 50px;
  border-radius: 40px;
  background-color: #ccc;
  box-shadow: 2px 2px 2px #0009;
}
